@tailwind base;
@tailwind components;
@tailwind utilities;

.div-1 {
  @apply text-center;
}

.credit-debit-div {
  @apply flex justify-center m-3 gap-3;
}

.btn {
  @apply rounded-md py-3 px-5 uppercase text-xs cursor-pointer tracking-wider;
}

.info-div {
  @apply text-xl text-center ml-2 mt-6;
}

.main-page {
  @apply p-2 grid grid-flow-col grid-cols-3 gap-5;
}

.transaction-list {
  @apply grid grid-cols-4 gap-2 p-4;
}

.transaction-info {
  @apply shadow-xl p-5 border border-gray-300 rounded-lg grid grid-flow-row;
}
.input-div {
  @apply mt-1 grid grid-flow-col col-span-2;
}

.input-form {
  @apply border border-gray-300 rounded-lg shadow-xl p-4;
}

@media screen and (max-width: 1300px) {
  .transaction-list {
    @apply grid grid-flow-row grid-cols-3;
  }

  .credit-debit-div {
    @apply grid grid-rows-2;
  }

  .main-page {
    @apply p-2 grid grid-flow-col grid-cols-4 gap-5;
  }

  .input-form {
    @apply border border-gray-300 rounded-lg shadow-xl p-4 col-span-2;
  }
}

@media screen and (max-width: 1000px) {
  .transaction-list {
    @apply grid grid-flow-row grid-cols-2;
  }
}

@media screen and (max-width: 900px) {
  .main-page {
    @apply p-2 flex flex-col;
  }
  /* 
  .credit-debit-div {
    @apply grid grid-cols-2;
  } */
}

@media screen and (max-width: 700px) {
  .input-form {
    @apply grid grid-cols-1;
  }
  .transaction-list {
    @apply grid grid-flow-row grid-cols-1;
  }
  .div-1 {
    @apply flex flex-col;
  }
}

.credit-class {
  @apply text-green-500 list-none;
}

.debit-class {
  @apply text-red-500 list-none;
}

:root {
  font-family: "Oxygen", sans-serif;
}
/* 
 body {
  background-color: #242424;
  color: rgba(255, 255, 255, 0.87); 
}  */

/* 

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */
